.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-desktop-width;
  margin: 0 auto;
  padding: 40px $desktop-margin 0;
  &__logo {
    height: 68px;
  }
  &__navbar {
    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 56px;
      @include typographies(subtitle);
      &__item {
        a {
          color: inherit;
          text-decoration: none;
        }
        .active {
          text-decoration: underline;
        }
      }
    }
  }
}
