.host {
  display: flex;
  align-items: center;
  gap: 12px;

  &__name {
    @include typographies(body);
  }

  &__picture {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@include tablet-and-mobile {
  .host {
    gap: 8px;
    
    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}
