.rating {
  display: flex;
  gap: 12px;

  & .star {
    width: 32px;
    fill: blue;
    color: blue;
    stroke: blue;
    & path {
      fill: blue;
      color: blue;
      stroke: blue;
    }

    &--empty {
      fill: $neutral-primary;
    }
  }
}

@include tablet-and-mobile {
  .rating {
    gap: 8px;
    & .star {
      width: 16px;
    }
  }
}
