.page-body {
  width: 100%;
  max-width: $max-desktop-width;
  margin: 64px auto 96px;
  padding: 0 $desktop-margin;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@include tablet-and-mobile {
  .page-body {
    margin: 32px auto 64px;
    padding: 0 $mobile-margin;
    gap: 24px;
  }
}
